{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<article class="single-article {{post_class}}">

    <header>

    	<span>{{date published_at format="DD MMMM YYYY"}} {{#if tags}}| {{tags separator=" | "}}{{/if}}</span>

    	<h1><a href="{{url}}" title="{{title}}">{{title}}</a></h1>

    </header>

    <section>

    	{{content}}

    </section>

</article>

{{/post}}
